form(action="/admin" method="POST")
    label Login 
    input(name="login" id="login")
    label Password
    input(type="password" name="password" id="password")
    input(type="submit" value="login")


script(src="js/login.js")